# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Rust & Backend (Local development only)
target/
src/
Cargo.lock
Cargo.toml
Rocket.toml

# Admin templates & assets (Local only)
templates/admin*
static/admin.css

# Environment & Secrets
.env
.env.*
*.secret
